<h1>List of Instruments</h1>
<table border='1'>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
  </tr>
  <% @products.each do |product| %>
    <tr data-link="<%= product_path(product.id) %>">
      <td><%= product&.name.titleize %></td>
      <td><%= product&.category.titleize %></td>
      <td><%= product.description %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Create New', new_product_path %>