<table border='1'>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= product&.name.titleize %></td>
    <td><%= product&.category.titleize %></td>
    <td><%= product.description %></td>
    <td><%= link_to 'edit', edit_product_path(product) %></td>
    <td><%= link_to 'delete', product_path(product), method: :delete %></td>
  </tr>
</table>

<%= link_to 'Back', products_path %>